/*background color*/
body {
  background-color: rgb(5, 181, 240);
}

/*1.width
 2.margin
 3.font-family
 4.background
 5.padding*/
div {width: 700px;
  margin :auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px;

}

/* font-size*/
#main-header {font-size: 22px;
  color: red;
}

/* font-style*/
.perspective-questions {
  font-style: italic;
}
